<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thephoenix_it.travelbooking">

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationActivity"
            android:label="Creation d&apos;un compte" />
        <activity
            android:name=".views.agence.CreerVolActivity"
            android:label="@string/title_activity_creer_vol"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.admin.GererClientActivity"
            android:label="@string/title_activity_gerer_client"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.client.ListVolsActivity"
            android:label="Liste des vols"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.client.ListReservationActivity"
            android:label="Liste des reservations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.agence.ListVolActivity"
            android:label="Liste des vols"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.client.CreerReservActivity"
            android:label="Reservation vol"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.client.CompteClientActivity"
            android:label="@string/title_activity_compte_client"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.agence.CompteAgenceActivity"
            android:label="@string/title_activity_compte_agence"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartScreenActivity"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.client.VolViewActivity"
            android:label="Detail Vol"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>